*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html, body { height: 100%; width: 100%;  }

body { 
    display:flex;
    flex-direction: column;
    background-color: slategray;

}
main { 
    flex: 1 0 auto; 
} 
.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}
.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 5px;
}

 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    height: 90%;
    width: 90%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;
    border-radius: 5px;
}

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("background2.svg");
    background-size: cover;
    height: 100%;
}

.maindiv-header{
    text-align: center;
    margin-bottom: 20px;
}


.buttons button{
    width: 100px;
    height: 30px;
    margin: 10px;; 
    font-size: 11px;
    color: white;
    background-color:  rgb(3, 149, 247);
    font-family: 'Open Sans', sans-serif;
    border: none;
}

#scroll-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:#FD764B;
    margin: 10px;
    height: 435px;
    overflow:scroll;
}


.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:390px;
    height:390px;
    margin: 20px;
    margin-top: 20px;
    background-color:#fd8a67;
    border-radius: 5px;
}
.asd{
    background-color: #F23A00;
    text-align: center;
    margin:5px;
    border-radius: 5px;
    }
    
.img{
    width: 220px;
    height: 220px;
    margin:15px; 
    border-radius: 5px;
}

.footer {
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    background-color:#F23A00;
    color: white;
    padding: 15px;
   
}
.footer a{
    color: black;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;

}
.maindiv-header h2{
    color: white;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
   
}
a{
    font-family: 'Open Sans', sans-serif;
    color: blue;
    
}

span{
    color: blue;
}


.btn1{
    border: none;
    width: 100px;
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    color: white;
    background-color:  rgb(3, 149, 247);
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

.btn2{
    border: none;
    width: 100px;
    height: 30px;
    margin: 10px; 
    font-size: 11px;
    color: white;
    background-color: rgb(3, 149, 247);
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}