*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html, body { height: 100%; width: 100%;  }


body { 
    display: flex; 
    flex-direction: column; 
    background-color: slategray;

  } 
  main { 
    flex: 1 0 auto; 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
  } 
.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}

.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.div-header,.div-title,.div-main{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
}

.logo{
    width: 90%;
    height: 90%;
}

.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
    border-radius: 5px;
}
.container{
    background-color:red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("background2.svg");
    background-size: cover;
   
}
.section{
    width: 50%;
    text-align: center;
    background-color:#FD764B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.section h1{
    margin: 10px;
}
.tres-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.one-section input{
    height: 26px;
    margin-bottom: 5px;
    width: 50%;
}


.div-images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-container{
    background-color: #FD764B;
}

.image{
    max-width:100% ;
    height: 130px ;
    border-radius: 5px;
    margin: 5px;
}
.image:hover{
    opacity: .5;
    transition: .9s;
   
}

.containerslide{
    margin-top: 10px;
    background-color:#FD764D;
    width: 100%;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style:none;
  }
  
  ul.slider{
    position: relative;
    height: 160px;
    width: 100%;
  }
  
  ul.slider li {
      position: absolute;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
  }
  
  ul.slider li img{
    height: 100%;
    width:80%;
    object-fit: cover;
    background-color:red;
    
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border-radius: 100%;
  }


 
.footer {
    font-size: 10px;
    text-align: center;
    padding: 15px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;

  }
.footer a{
    color: black;

  }

  span{
      color: blue;
  }

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    color: blue;
}
button{
    width: 100px;
    height: 30px;
    font-size: 11px;
    color: white;
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
}