*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body { height: 100%; width: 100%;  }



body { 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 

  .div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}
.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 5px;
}

.div-header,.div-title,.div-main{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}

 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
  
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    width: 90%;
    height: 90%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    background-image: url("background2.svg");
    background-size: cover;
}

#myform{
    width: 500px;
    margin: 15px;
}

.maindiv-header{
    padding: 25px;
    background: linear-gradient(to right,#FD764B 75%, slategrey 100%);
    text-align: center;
}
.div-body {
    padding: 15px ;
    color: #666;
    background-color:#F23A00 ;
}
.div-body h2{
    text-align: center;
    color: black;
    margin-bottom: 15px;
    
}
.horizontal .left input{
    width:100%;
    height:25px;
    margin-bottom: 20px;
}
.horizontal .right textarea {
    width:100%;
    height:100px;
    margin-bottom: 20px;
    
}

.horizontal .right input{
    width:100%;
    height:25px;
    margin-bottom: 20px;
    
}


.div-footer {
    text-align: center;
    padding: 25px ;
    background-color:#F23A00;
    
}
.div-footer button {
    width: 100px;
    height: 30px;
    margin: 3px; 
    
}

.footer {
    margin-top: 1px;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    padding: 15px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;
   
  }
.footer a{
    font-family: 'Open Sans', sans-serif;
    color: black;
  }

  span{
    color: blue;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;
}
 
p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    Color: #c95555

}
