*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

html, body { height: 100%; width: 100%;  }



body { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: slategray;
}
main { 
    flex: 1 0 auto; 
} 
.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}
.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 5px;
}

.div-header,.div-title,.div-main{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}

 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
  
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    width: 90%;
    height: 90%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background2.svg");
    background-size: cover;
}
  #myform{
    width: 600px;
    margin: 15px;
  }


.myform button{
    width: 25%;
    height: 30px; 
}
.maindiv-header{
    padding: 25px;
    background: linear-gradient(to right,#FD764B 75%, slategrey 100%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-body {
    background-color:#F23A00 ;
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.two-inputs{
    display: flex;
    flex-direction: row;
}
.one-input{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.two-inputs input{
    width:100%;
    height:25px;
}

.one-input input{
    width:95.5%;
    height:25px;
 
}
input{
    margin:10px;
    
}
#pais{
    width:100%;
    height:30px;
    margin:10px;
}   

.div-footer {
    padding-bottom: 25px;
    background-color:#F23A00;  
    text-align: center;
    
}
.div-footer  h2 {
    text-align: start;
    margin-left:10px;
}

.div-footer button {
  
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    background-color: gray;
    color: white;
}

.div-footer hr {
    margin-bottom: 10px;   
}

.div-footer button {
    margin-top: 20px;
    width: 100px;
}

.footer {
    
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    padding: 15px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;
   
  }
.footer a{
    font-family: 'Open Sans', sans-serif;
    color: black;
  }

  span{
    color: blue;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;
}
 
p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    font-family: 'Open Sans', sans-serif;
    color: blue;
}