*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html, body { height: 100%; width: 100%;  }

body { 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
  } 

.div-header{
    display: grid;
    height: 65px;
    grid-template-columns: 825px 700px;
    grid-template-rows: 70px;
    justify-content: end;
    align-items: center;
}
.div-header .div-title{
    display: grid;
    align-items: center;
}

.div-header .div-main{
    display: grid;
    background-color:#F23A00;
    align-items: center;
    justify-content:end;

}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    height: 100%;
    width: 25%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}

section{
    display:flex;
    flex-direction: column;
}


.section-header{
    text-align: center;
    margin-bottom: 20px;
}


.buttons button{
    width: 100px;
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    color: white;
    background-color:  rgb(3, 149, 247);
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.main-content {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    background:#FD764B;
    width: 100%;
    height: 300px;
    margin-bottom: 100p;
}

.container {
    width:350px;
    height:230px;
    margin: 20px;
    margin-top: 20px;
    background-color:#fd8a67;
}

.img{
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 3px;
    margin:15px; 
    border-radius: 5px;
}

.footer {
    margin-top: 1px;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    background-color:#F23A00;
    color: white;
    padding: 15px;
   
}
.footer a{
    color: black;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;

}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    font-family: 'Open Sans', sans-serif;
    color: blue;
    
}

span{
    color: blue;
}


.btn1{
    border: none;
    width: 100px;
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    color: white;
    background-color: rgb(3, 149, 247);
    font-family: 'Open Sans', sans-serif;
}

.btn2{
    border: none;
    width: 100px;
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    color: white;
    background-color: rgb(255, 0, 0);
    font-family: 'Open Sans', sans-serif;
}