*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.div-header{
    display: grid;
    height: 65px;
    grid-template-columns: 825px 700px;
    grid-template-rows: 70px;
    justify-content: end;
    align-items: center;
}
.div-header .div-title{
    display: grid;
    align-items: center;
}

.div-header .div-main{
    display: grid;
    background-color:#F23A00;
    align-items: center;
    justify-content:end;

}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    height: 100%;
    width: 25%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}



html, body { height: 100%; width: 100%;  }



body { 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 


 
  .footer {
    margin-top: 1px;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    background-color:#F23A00;
    color: white;
    padding: 15px;
   
}
.footer a{
    color: black;
}
  
.container{
   
    display: grid;
    height: 100%;
    grid-template-columns: 700px 700px;
    grid-template-rows: 600px;
    justify-content: center;
    align-content: center;
    column-gap: 2px;
    background-color:slategrey;



}

.description  {
    background-color: #FD764B;
    padding: 10%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img{
    width: 700px;
    height:600px;
    border-radius: 5px;
}


main button{
    width: 20%;
    height: 30px;
    margin: 15px;
    font-size: 11px;
    color: white;
    background-color: gray;
    
}

span{
    color: blue;
    text-decoration-line:underline;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    color: blue;
}
